body {
  background: url("http://www.olen-inc.com/tardis_background_2.jpg");
  background-size: 100% 125%;
}

#space {
  padding: 4px;
  margin-top: 225px;
  width: 400px;
  height: 500px;
  position: relative;
  float: center;
}

#spaceship {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 435px;
  position: relative;
  float: center;

  -webkit-transition: 3s linear;

}

#space:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

/*#spaceship:hover {
-webkit-animation-play-state: paused;
animation-play-state: paused;
}*/

.spin-fwd {
  -webkit-animation-name: spin-fwd;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  -webkit-transform-style: preserve-3d;
}

.spin-bkw {
  -webkit-animation-name: spin-bkw;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  -webkit-transform-style: preserve-3d;
}

@-webkit-keyframes spin-bkw {
  from {
    -webkit-transform: rotate(0deg);
    } to {
      -webkit-transform: rotate(-360deg);
    }
  }

  @-webkit-keyframes spin-fwd {
    from {
      -webkit-transform: rotate(0deg);
      } to {
        -webkit-transform: rotate(360deg);
      }
    }
