.template {
  display: none;
}

.error {
  display: none;
  color: red;
}

h1 {
  text-align: center;
}

h4 {
  font-weight: bold;
  text-decoration: underline;
}

tfoot {
  font-weight: bold;
}

.categories > p {
  margin-left: 15px;
  color: blue;
  text-decoration: underline;
}

.categories > p:hover {
  color: #FF00FF;
}
